<?php

return [
    'base_url' => 'http://localhost:8080',
    'database' => [
        'driver'   => 'PDO',
        'host'     => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname' => 'notifman_db', // 'notif-sql-1',
        'port' => NULL,
        'socket' => NULL
    ],
    'jwt_secret' => '123aaaa321',
    'jwt_cookie_name' => 'labura_layanan_app_token',
    'app_domain_name' => 'notifman.labura.go.id',
    'role' => [
        '',
        'Admin',
    ]
];